$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import 'https://fonts.googleapis.com/css?family=Raleway|Oswald';

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  // padding-top: 55px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

h4 {
  text-align: center;
}

.navbar {
  // position: fixed;
  text-align: center;
}

.all-navbar-links {
  float: right;
}

#navbar-logo {
  float: left;
}

.well {
  padding-top: 0;
  margin-bottom: 0;
  border-radius: 0;
}
